.content {
  width: 75%;
}

.content--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--title {
  color: #ff7300;
  font-weight: bold;
  font-size: x-large;
}

.header--activity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  background: #ffc391;
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  outline: none;
}

.search-box .icon {
  color: #969393;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.notify {
  background: #ffc391;
  padding: 12px;
  border-radius: 10px;
  color: #969393;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notify .icon {
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* card container */
.card--container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 2rem;
}

.card {
  flex: 1;
  background: #ff9b48;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.card--cover {
  background: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  color: #969393;
}

.card--title {
  background: #ffffffc0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #526d82;
  border-radius: 10px;
}

.item-title {
  font-weight: bold;
  font-size: larger;
}

/* Style UserGuide content */
.guide-text--paragraph {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #333;
}

/* Style Feedback content */
.content-feedback {
  width: 90%;
}

.feedback-form {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 100px;
}

.feedback-input {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.paragraph-feedback {
  font-weight: bold;
  font-style: italic;
}

.word-anonymous {
  color: #ff7300;
}

/* Style grama niladhari content */
.grama-title {
  margin-top: 20px;
  font-size: 0.9lh;
}

.grama-form {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 100px;
}

/* Style Feedback content */
.requests-form {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 100px;
}

/* Style edit profile content */
.form-container {
  display: flex;
  justify-content: space-between;
}

.form-section {
  flex: 1;
}

.section-title {
  margin-bottom: 1rem;
}

/* Style for modal view */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
}

.modal-box {
  max-width: 600px;
  text-align: center;
}

.modal-action {
  margin-top: 20px;
}

/* Style for request page */
.status-button {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  cursor: default;
  border-radius: 0.375rem;
}
