@tailwind base;
@tailwind components;
@tailwind utilities;

.welcomePageContainer {
  background-color: #241000;
}

.hoverEffect {
  transition: 0.2;
}

.hoverEffect:hover {
  transition: 0.2s;
  color: hsl(0, 0%, 82%);
  cursor: pointer;
}

.btnHoverEffect {
  transition: 0.3s;
}

.btnHoverEffect:hover {
  transition: 0.3s;
  background-color: #EE5701 ;
  cursor: pointer;
}

.loginLogo {
  width: 120px;
  height: auto;
  margin: auto;
  margin-bottom: 4px;
}
